{% if content %}
    <div {{ attributes.addClass('zf-2col') }}>
        {% for region in layout.getRegionNames %}
            {% if content[region] %}
                <div class="zf-2col-columns">
                    {{ content[region] }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}