{% if content %}
    <div {{ attributes.addClass('zf-4col') }}>
        {% for region in layout.getRegionNames %}
            {% if content[region] %}
                <div class="zf-4col-columns">
                    {{ content[region] }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
