{% if content %}
    {% set id = random() %}

    <ul id="accordion-{{ id }}" class="accordion" data-accordion data-allow-all-closed='true'>

        {% for region in layout.getRegionNames %}
            {% if content[region] %}
                <li class="accordion-item {{ loop.first ? 'is-active' }}" data-accordion-item>

                    <a href="#accordion-{{ id }}-{{ region }}" class="accordion-title">
                        {{ content[region]['#label'] }}
                    </a>

                    <div id="accordion-{{ id }}-{{ region }}" class="accordion-content" data-tab-content>
                        {{ content[region] }}
                    </div>

                </li>
            {% endif %}
        {% endfor %}

    </ul>
{% endif %}
