{% if content %}
  {% set id = random() %}

  <div class="card" id="card-{{ id }}">

    {% for region in layout.getRegionNames %}
      {% if content[region] %}
        <div class="card-divider">
          <h4>{{ content[region]['#label'] }}</h4>
        </div>
        <div class="card-section">
          <div>{{ content[region] }}</div>
        </div>
      {% endif %}
    {% endfor %}

  </div>

{% endif %}
