{% if content %}
    {% set id = random() %}

    <div id="orbit-{{ id }}" class="orbit" role="region" data-orbit>

        <div class="orbit-wrapper">

            <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">{{ 'Previous Slide'|trans }}</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">{{ 'Next Slide'|trans }}</span>&#9654;&#xFE0E;</button>
            </div>

            <ul class="orbit-container">
                {% for region in layout.getRegionNames %}
                    {% if content[region] %}
                        <li class="orbit-slide {{ loop.first ? 'is-active' }}">
                            <figure class="orbit-figure">
                                {{ content[region] }}
                                <figcaption class="orbit-caption">{{ content[region]['#label'] }}</figcaption>
                            </figure>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>

        <nav class="orbit-bullets">
            {% for region in layout.getRegionNames %}
                {% if content[region] %}
                    <button class="{{ loop.first ? 'is-active' : '' }}" data-slide="{{ loop.index0 }}">
                        <span class="show-for-sr">{{ 'Slide'|trans }} {{ loop.index }}.</span>
                        {% if loop.first %}
                            <span class="show-for-sr" data-slide-active-label>{{ 'Current Slide'|trans }}</span>
                        {% endif %}
                    </button>
                {% endif %}
            {% endfor %}
        </nav>

    </div>

{% endif %}
