{% if content %}
    {% set id = random() %}
    <div>
        <ul class="tabs" data-tabs id="tabs-{{ id }}">

            {% for region in layout.getRegionNames %}
                {% if content[region] %}
                    <li class="tabs-title {{ loop.first ? 'is-active' }}">
                        <a href="#tab-{{ id }}-{{ region }}">
                            {{ content[region]['#label'] }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tabs-content" data-tabs-content="tabs-{{ id }}">

            {% for region in layout.getRegionNames %}
                {% if content[region] %}
                    <div class="tabs-panel {{ loop.first ? 'is-active' }}" id="tab-{{ id }}-{{ region }}">
                        {{ content[region] }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
{% endif %}
